# ignore everything
/*

# do not ignore this file
!.gitignore

# do not ignore this directory
!/fish
# ignore files and sub dirs in this directory
/fish/*
# but do not ignore this file 
!/fish/config.fish

!/nvim

!/kitty

!/rofi
/rofi/*
!/rofi/config.rasi

!/i3

!/qtile
/qtile/*
!/qtile/config.py
!/qtile/autostart.sh
!/qtile/icons/
