/*

# Neovim
!/nvim/
/nvim/lazy-lock.json

# Fish shell
!/fish/
/fish/completions
/fish/conf.d
/fish/functions
/fish/fish_variables

# Tmux
!/tmux/
/tmux/plugins

# Other
!/kitty/
!/README.md
!/polybar
!/i3

# gitignore
!/.gitignore

