/*

# Neovim
!nvim/
nvim/lazy-lock.json

# Emacs
!emacs/
emacs/*
!emacs/init.el
!emacs/themes/

# Fish shell
!fish/
fish/*
!fish/config.fish

# Tmux
!tmux/
tmux/plugins

# Other
!kitty/
!README.md
!polybar/
!i3/
!awesome/
!rofi/
!wezterm/

# gitignore
!.gitignore

