configuration {
  font: "0xProto Nerd Font 10";

  drun {
    display-name: "";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "";
  }

  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

@theme "/home/damindux/.local/share/rofi/themes/nier.rasi"
